<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Prediksi Harga Smartphone</title>
</head>
<body 
class = "
flex flex-col
justify-beetween
item-center
p-8
min-h-screen
bg-gradient-to-r
from-blue-400
to-white-500
text-black-800
md:flex-row
" >
    <main class="bg-white p-10 rounded-lg">
        <h1 class="text-3xl font-bold mb-8">
            Prediksi Harga 
        </h1>
    <form
    action="{{url_for('predict')}}"
    method="post"
    class="flex flex-col">
<label for="weight" class = "mb-2">weight</label>
<input
type="float"
name="weight"
placeholder=""
required=""
class="p-4 bg-gray-100 rounded-md"
/>
<label for="resolution" class = "mb-2">resolution</label>
<input
type="float"
name="resolution"
placeholder=""
required=""
class="p-4 bg-gray-100 rounded-md"
/>
<label for="ppi" class = "mb-2">ppi</label>
<input
type="int"
name="ppi"
placeholder=""
required=""
class="p-4 bg-gray-100 rounded-md"
/>
<label for="cpu_core" class = "mb-2">cpu core</label>
<input
type="float"
name="cpu_core"
placeholder=""
required=""
class="p-4 bg-gray-100 rounded-md"
/>
<label for="cpu_freq" class = "mb-2">cpu freq</label>
<input
type="float"
name="cpu_freq"
placeholder=""
required=""
class="p-4 bg-gray-100 rounded-md"
/>
<label for="internal mem" class = "mb-2">internal mem</label>
<input
type="float"
name="internal_mem"
placeholder=""
required=""
class="p-4 bg-gray-100 rounded-md"
/>
<label for="ram" class = "mb-2">ram</label>
<input
type="float"
name="ram"
placeholder=""
required=""
class="p-4 bg-gray-100 rounded-md"
/>
<label for="RearCam" class = "mb-2">RearCam</label>
<input
type="float"
name="RearCam"
placeholder=""
required=""
class="p-4 bg-gray-100 rounded-md"
/>
<label for="Front_Cam" class = "mb-2">Front_Cam</label>
<input
type="float"
name="Front_Cam"
placeholder=""
required=""
class="p-4 bg-gray-100 rounded-md"
/>
<label for="battery" class = "mb-2">battery</label>
<input
type="int"
name="battery"
placeholder=""
required=""
class="p-4 bg-gray-100 rounded-md"
/>


<button
type="submit"
class="
flex
justify-center
align-center
mt-8
p-4
bg-gradient-to-r
from-green-400
to-blue-500
text-white
rounded-md">

Proses Prediksi
<svg
xlmns="http://www.w3.org/2000/svg"
widht="24"
height="24"
viewBox="0 0 24 24"
fill="none"
stroke="currentColor"
stroke-widht="2"
stroke-linecap="round"
stroke-linejoin="round"
class="feather feather-arrow-right ml-4">
<line x1="5" y1="12" x2="10" y2="12"></line>
<polyline points ="12 5 10 12 12 19"></polyline>
</svg>
</button>

</form>
    </main>
    <section class="mt-8 h-full flex-auto rounded-lg md:mt-0 md:ml-8">
        <div class="bg-white p-16 rounded-lg">
            <h1 class="text-2x1 mb-8">
                Prediksi Nya Sebagai Berikut
            </h1>
            <h2 class="text-5xl font-bold">Price Rp.{{ Price }}</h2>
            {% if (insurance_cost) != 0 %}
            <div class="mt-8">
                <p>weight {{ weight }}</p>
                <p>resolution {{ resolution }}</p>
                <p>ppi {{ ppi }}</p>
                <p>cpu_core {{ cpu_core }}</p>
                <p>cpu_freq {{ cpu_freq }}</p>
                <p>internal_mem {{ internal_mem }}</p>
                <p>ram {{ ram }}</p>
                <p>RearCam {{ RearCam }}</p>
                <p>Front_Cam {{ Front_Cam }}</p>
                <p>battery {{ battery }}</p>
            </div>
            {% endif %}
        </div>
    </section>
</body>
</html>